<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색자동완성</title>
    <link rel='stylesheet' href='/css/main.css' />
</head>
<body>
    <section class="header">
        <div class="head_top">
            <a class="main_icon"></a>
            <div class="search_box">
                <input class="search_input hide">
                <div class="wrap_roll_keywords">
                    <ol class = "list_roll_keywords"></ol>     
                </div>
                <div class = "rel_search hide">
                    <ul class="pop_rel_keywords">
                    </ul>
                </div>
                <button class="search_btn">
                    <span class="icon_search"></span>
                </button>
                <div class = "popular_search hide">
                    <div class = "popular_title">인기 쇼핑 키워드</div>
                    <div class="wrap_pop_rank">
                      <ul class="pop_rank">

                      </ul>
                      <ul class="pop_rank">

                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class=nav_wrapper>
                <div class="category">
                    <button>
                        <span class="icon_hamburger"></span>
                        카테고리
                    </button>
                </div>
                <ul class="nav_menu">
                    <li><a class="menu_link">핫딜</a></li>
                    <li><a class="menu_link">베스트100</a></li>
                    <li><a class="menu_link">할인특가</a></li>
                    <li><a class="menu_link">기획전</a></li>
                </ul>
                <ul class="nav_hashtag">
                    <li><a class="hash_link">#건강식품</a></li>
                    <li><a class="hash_link">#제철음식</a></li>
                    <li><a class="hash_link">#블루투스이어폰</a></li>
                    <li><a class="hash_link">#커블체어</a></li>
                    <li><a class="hash_link">#노트북</a></li>
                </ul>

                <ul class="nav_user">
                    <li>
                        <a>
                            <span class="icon_human"></span>
                            로그인
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon_layers"></span>
                            최근본 상품
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script type = "module" src="/js/main.js"></script>
</body>
</html>