$test_color: rgb(199, 81, 81);
$content_min_width: 1000px;
$search_width: 670px;
$search_height: 54px;
$logoImg_width: 119px;
$logoImg_height: 51px;
$nav_height: 56px;
$content_side_padding: 15%;
$main_gray: #ececec;
$bg_color: #f3f3f3;
$gray_font: #888;
$main_icon: url(https://search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png);
$icon_url: url(https://shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/ico_gnb_shw.png);
$icon2_url: url(https://shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png);
$icon_size: 130px 90px;
$nav_font_size: 16px;
$item_list_size: 200px;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.hide {
    display: none;
}

ul,
li {
    list-style: none;
}

button,
input {
    border: transparent;
    background-color: transparent;
}

.main_icon {
    width: $logoImg_width;
    height: $logoImg_height;
    background: $main_icon no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    min-width: $content_min_width;

    .head_top {
        width: 843px;
        height: 55px;
        display: flex;
        justify-content: space-around;
    }

    .nav {
        width: 100%;
        height: 55px;
        position: relative;
        margin-top: 40px;
        border-top: 1px solid #efefef;
        box-shadow: 0 1px rgb(0 0 0 / 16%);
    }
}

.redBorder {
    border: 1px solid red;
}

.mainBorder {
    border: 1px solid $main_gray;
}

.search_box {
    border: 1px solid $main_gray;
    position: relative;
    border-radius: 12px;
    width: $search_width;
    height: $logoImg_height + 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search_input:focus {
        width: 100%;
        font-size: 24px;
        margin-left: 3%;
        outline:none;
    }

    .wrap_roll_keywords {
        position: absolute;
        left: 25px;
        top: 16px;
        width: 550px;
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        text-align: left;
        overflow: hidden;
        margin: 0;

        .list_roll_keywords {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0;
            margin: 0;

            li {
                color: #939393;
                font-weight: 700;
                font-size: 20px;
                text-align: left;
            }
        }
    }
    .search_btn {
        width: 52px;
        height: 52px;
        border: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon_search {
            background: $icon_url no-repeat;
            background-size: $icon_size;
            position: absolute;
            left: 95%;
            width: 23px;
            height: 23px;
        }
    }
}

.popular_search {
    position: absolute;
    // display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    z-index: 2;

    top: 55px;
    width: 100%;
    border: 1px solid red;
    border-radius: 12px;

    .popular_title {
        color: $gray_font;
        font-size: 20px;
        margin-left: 40px;
        margin-top: 20px;
        font-weight: 1000;
    }

    .wrap_pop_rank {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .pop_rank {
            list-style: none;
            width: 100%;

            li {
                line-height: 250%;
            }
        }
    }
}

.rel_search {
    @extend .popular_search;
    width:100%;
    justify-content: space-around;
    border: 1px solid red;
    border-radius: 12px;
    top: 55px;
    position: absolute;
    z-index: 3;
    background:white;
    .pop_rel_keywords {
        list-style: none;
        margin-right: 30%;
        li {
            line-height: 250%;
        }
    }
}

.nav_wrapper {
    margin: 0 auto;
    padding: 0 $content_side_padding;
    min-width: $content_min_width;
    z-index: 1;

    .category {
        float: left;
        position: relative;

        button {
            font-size: $nav_font_size;
            width: 122px;
            height: 52px;
            border: 0;
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .icon_hamburger {
                background: $icon_url no-repeat;
                background-size: $icon_size;
                background-position: 0 -30px;
                width: 28px;
                height: 28px;
            }
        }
    }

    .nav_menu {
        font-weight: 700;
        float: left;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    .nav_hashtag {
        color: $gray_font;
        float: left;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .nav_user {
        min-width: 200px;
        float: right;
        position: absolute;
        display: inline-flex;
        justify-content: space-between;

        li > a {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .icon_human {
                background: $icon_url no-repeat;
                background-size: $icon_size;
                background-position: -30px -30px;
                width: 28px;
                height: 28px;
            }

            .icon_layers {
                background: $icon_url no-repeat;
                background-size: $icon_size;
                background-position: -60px -30px;
                width: 28px;
                height: 28px;
            }
        }
    }
}

.menu_link {
    padding: 0 13px;
}

.hash_link {
    padding: 0 10px;
}


.found {
    color: orange;
}

.selected {
    background-color: lightgray;
}